/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Yellowtail&display=swap');
@import "tailwindcss";

@theme {
    --font-Orbitron: "Orbitron", sans-serif; 
    --font-Yellowtail: "Yellowtail", sans-serif;
    --font-inter: "Inter", sans-serif;
}

@custom-variant light (&:where(.light, .light *));

.swiper-button-next,
.swiper-button-prev {
  color: #fb923c !important; /* text-orange-400 */
  position: absolute;
  top: 50%;
  z-index: 10;
}
